### Activity 01

In [12]:
import pandas as pd

try:
  df = pd.read_csv('financial2023.csv', delimiter=',')
  print("Delimiter is comma (,)")
except pd.errors.EmptyDataError:
  print("File is empty")
except pd.errors.ParserError:
  try:
    df = pd.read_csv('financial2023.csv', delimiter='\t')
    print("Delimiter is tab (\t)")
  except pd.errors.EmptyDataError:
    print("File is empty")
  except pd.errors.ParserError:
    print("Unable to parse file with comma or tab delimiter")

Delimiter is comma (,)

In [13]:
if df is not None:
  print("Number of rows:", df.shape[0])
  print("Number of columns:", df.shape[1])

  print("\nData types:")
  print(df.dtypes)

Number of rows: 6195
Number of columns: 14

Data types:
Series_reference     object
Period              float64
Data_value          float64
Suppressed           object
STATUS               object
UNITS                object
Magnitude             int64
Subject              object
Group                object
Series_title_1       object
Series_title_2       object
Series_title_3       object
Series_title_4       object
Series_title_5      float64
dtype: object

In [14]:
print("\nFirst few rows:")
print(df.head())

First few rows:
  Series_reference   Period  Data_value Suppressed STATUS    UNITS  Magnitude  \
0    BDCQ.SF1AA2CA  2016.06    1116.386        NaN      F  Dollars          6
1    BDCQ.SF1AA2CA  2016.09    1070.874        NaN      F  Dollars          6
2    BDCQ.SF1AA2CA  2016.12    1054.408        NaN      F  Dollars          6
3    BDCQ.SF1AA2CA  2017.03    1010.665        NaN      F  Dollars          6
4    BDCQ.SF1AA2CA  2017.06    1233.700        NaN      F  Dollars          6

                          Subject  \
0  Business Data Collection - BDC
1  Business Data Collection - BDC
2  Business Data Collection - BDC
3  Business Data Collection - BDC
4  Business Data Collection - BDC

                                             Group            Series_title_1  \
0  Industry by financial variable (NZSIOC Level 2)  Sales (operating income)
1  Industry by financial variable (NZSIOC Level 2)  Sales (operating income)
2  Industry by financial variable (NZSIOC Level 2)  Sales (operating income)
3  Industry by financial variable (NZSIOC Level 2)  Sales (operating income)
4  Industry by financial variable (NZSIOC Level 2)  Sales (operating income)

         Series_title_2  Series_title_3 Series_title_4  Series_title_5
0  Forestry and Logging  Current prices     Unadjusted             NaN
1  Forestry and Logging  Current prices     Unadjusted             NaN
2  Forestry and Logging  Current prices     Unadjusted             NaN
3  Forestry and Logging  Current prices     Unadjusted             NaN
4  Forestry and Logging  Current prices     Unadjusted             NaN

### Activity 02

In [15]:
from google.colab import files
# uploaded = files.upload()

In [16]:
import json

with open('QC1.json', 'r') as f:
  data = json.load(f)

first_level_keys = list(data.keys())
print("First level keys:", first_level_keys)

First level keys: ['quiz']

In [17]:
def count_nested_dicts(data, level=1):
  count = 0
  for k, v in data.items():
    if isinstance(v, dict):
      count += 1
      count += count_nested_dicts(v, level + 1)
  return count

nested_dict_count = count_nested_dicts(data)
print("Nested dictionaries:", nested_dict_count)

Nested dictionaries: 6